@model IEnumerable<SalesWebMvc.Models.Seller>


@{
    ViewData["Title"] = "Sellers";
}

<h2>@ViewData["Title"]</h2>

<table>
    <thead>
        <tr class="panel-title">
         
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th><td></td>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th><td></td>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th><td></td>
            <th>
                @Html.DisplayNameFor(model => model.BaseSalary)
            </th><td></td>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td><td></td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td><td></td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td><td></td><td></td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseSalary)
            </td><td></td><td></td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td><td></td>
        </tr>
        }
    </tbody>
</table>
